/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 18px;
}

/* Navigation Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
}

nav h1 {
    color: #070707;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #010101;
    padding: 8px 16px;
    text-decoration: none; /* Remove underline by default */
    transition: background-color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #fd4765ad;
    border-radius: 5px;
    text-decoration: none; /* Add underline on hover */
}

.container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

p {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

span#decimalOutput,
span#binaryOutput {
    font-weight: bold;
}